@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
}

img {
  width: 100%;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.scrollbar-gray::-webkit-scrollbar {
  background-color: #fff;
  width: 10px;
}
.scrollbar-gray::-webkit-scrollbar-thumb {
  background-color: #f2f2f2;
  border-radius: 10px;
}

.no-selection {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select:none;
}